// // layout footer
footer{
    background-color: #2B71DC;
    height: 100px;
    .footer_content{
        padding: 40px;
        text-align: center;
        h3{
            color: white;
        }
    }
}
