// layout product
.product{
    padding: $py_section 0;
    .product_title{
        h2{
            @include styleText($fs_6,$color_blue_2,$fw_bold );
            text-align: center;
        }
    }
    .product_content{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 30px;
        margin-top: 20px;
        @media screen and (max-width: 576px) {
          grid-template-columns: 1fr;
        }
        .product_item{
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            border-radius: 8px;
            padding: $p_productItem;
            animation-name: zoomIn;
            animation-duration: 2s;
            opacity: 0;
            animation-fill-mode: forwards;
            @for $i from 1 through 5 {
                &:nth-child(#{$i+1}) {
                  animation-delay:($i*0.5s);
                }
              }

            img{
                width: 100%;
                box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            }
            h3{
                @include styleText($fs_5,$color_blue_1,$fw_bold );
                display:flex;
                justify-content: space-between;
                margin-top: 10px;
            }
            p{
                @include styleText($fs_2,$color_blue_2,$fw_bold );
                padding: 10px 0;

            }
            .rate_buy{
                display: flex;
                justify-content: space-between;
                align-items: center;
                .rate{
                    i{
                        color: #F9D211;
                    }
                }
                .buy_now{
                    @include styleButton($color_blue_1,white, 10px 25px );
                }
            }
        }  
    }
}
