// Tạo biến (variable)
// color 
$color_blue_1 : #2B71DC;
$color_white_1: #F5F9FD;
$color_blue_2: #1E345E;
$color_yellow_1: #F9D211;

// font-size
$fs_1 : 13px;
$fs_2: 16px;
$fs_3: 18px;
$fs_4: 20px;
$fs_5: 24px;
$fs_6: 30px;
$fs_7: 60px;

// font-weight
$fw_300: 300;
$fw_400 : 400;
$fw_500 : 500;
$fw_bold : bold;

// padding 
$py_header : 30px;
$py_section : 50px;
$p_productItem :30px;